<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Messages: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'prototype' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<p id="navigation">
	<a href="/">Map</a> | 
	<a href="/messages">Messages</a> | 
	<a href="/pings">Pings</a> | 
	<a href="/phones">Phones</a> | 
	<a href="http://nextlab.mit.edu/fall2008/nextmap/">About</a>
</p>

<%= yield  %>

</body>
</html>
